.redrectangle {
    background-color: red;
    color: white;
    width: 425px;   
    height: 310px;
    text-align: center;
    border-radius: 7%;
    font-family: sans-serif;
}

.whiterectangle {
    background-color: white;
    color: black;
    height: 150px;
}

.hello {
    font-size: 72px;
    margin-bottom: -15px; 
    font-weight: bold;   
}

.mynameis {
    font-size: 36px;
    margin: -15px 0 -5px;
}

.name {
    font-size: 85px;
    padding: 25px;
    margin-top: 10px;
   
}